<div class="spacer-large"></div>
<div class="container section-2 focus-in-expand">
	<div class="row row-center text-center">
		<div class="column column-100">
			<h2 class="yellow-bar">We specialize in building beautiful designs and websites</h2>
		</div>
	</div>
	<div class="row row-center text-center">
		<div class="column">
			<div class="card card-small">
				<h3 class="card-title">Wordpress</h3>
				<img class="card-image" src="img/wordpress.svg">
			</div>
		</div>
		<div class="column">
			<div class="card card-small">
				<h3 class="card-title">Shopify</h3>
				<img class="card-image" src="img/woocommerce_cart.svg">
			</div>
		</div>
		<div class="column">
			<div class="card card-small">
				<h3 class="card-title">Woocommerce</h3>
				<img class="card-image" src="img/shopify_cart.svg">
			</div>
		</div>
		<div class="column">
			<div class="card card-small">
				<h3 class="card-title">Branding</h3>
				<img class="card-image" src="img/branding.svg">
			</div>
		</div>
		<div class="column">
			<div class="card card-small">
				<h3 class="card-title">Print Design</h3>
				<img class="card-image" src="img/print_design.svg">
			</div>
		</div>
	</div>
</div>
<div class="spacer-large"></div>