  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <h2>aremm</h2>
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-active" href="/">
            Home
          </a>
          <a class="nav-item" href="/about">
            about
          </a>
          <a class="nav-item" href="/hello">
            hello
          </a>
        </div>
      </div>
    </header>
  </div>